<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE __ $LAYOUT_TITLE">Baralga</title>

    <script src="./index.js" async></script>
    <link rel="stylesheet" href="./style.scss" />
</head>
<body>

<nav up-fixed="top" class="navbar is-dark" role="navigation" aria-label="main navigation" layout:fragment="navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-primary" style="font-weight: bold; font-variant: small-caps;" th:href="@{/}">
            Baralga
        </a>

        <!--
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        -->
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a th:href="@{/}" class="navbar-item">
                Home
            </a>
            <a th:href="@{/projects}" class="navbar-item">
                Projects
            </a>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" sec:authorize="isAuthenticated()" sec:authentication="name">
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" class="button is-light" value="Logout"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Content Section -->
<section class="section">
    <div class="container" id="b__content" layout:fragment="content">
        <h1 class="title">
            Hello Baralga!
        </h1>
    </div>
</section>

<!-- Footer -->

</body>
</html>
