<turbo-frame id="b__activities_list" class="column is-12">
    <script defer th:utext="'history.replaceState(null, null, \'' + ${session.filter.toUrlParams()} + '\')'"></script>

    <div class="column is-12">
        <nav  up-fixed="top" class="level" id="b__activities_filter">
            <div class="level-left">

                <div class="level-item">
                    <div class="buttons has-addons">
                        <a class="button"
                           th:classappend="${#strings.toLowerCase(currentFilter.timespan) == 'day'} ? 'is-info is-selected' : ''"
                           th:href="@{'/activities' + ${currentFilter.toUrlParams('day')}}"
                        >Day</a>
                        <a class="button"
                           th:classappend="${#strings.toLowerCase(currentFilter.timespan) == 'month'} ? 'is-info is-selected' : ''"
                           th:href="@{'/activities' + ${currentFilter.toUrlParams('month')}}"
                        >Month</a>
                        <a class="button"
                           th:classappend="${#strings.toLowerCase(currentFilter.timespan) == 'year'} ? 'is-info is-selected' : ''"
                           th:href="@{'/activities' + ${currentFilter.toUrlParams('year')}}"
                        >Year</a>
                    </div>
                </div>

                <div class="level-item">

                    <div class="buttons has-addons">
                        <div class="button">
                            <a th:href="@{'/activities' + ${previousFilter.toUrlParams()}}"
                               class="icon is-medium">
                                <i class="fa fa-angle-left" th:value="${currentFilter.toUrlParams()}"></i>
                            </a>
                        </div>

                        <div class="button">
                            <a th:href="@{/activities(timespan=${#strings.toLowerCase(currentFilter.timespan)})}"
                               class="icon is-medium">
                                <i class="fa fa-home"></i>
                            </a>
                        </div>

                        <div class="button">
                            <a th:href="@{'/activities' + ${nextFilter.toUrlParams()}}"
                               class="icon is-medium">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="level-right">
                <span th:text="${currentFilter}"></span>
            </div>
        </nav>
    </div>

    <div th:if="${#lists.isEmpty(activities)}" class="notification is-warning">
        No activities in period.
    </div>

    <div class="card" th:title="${activity.description}" th:each="activity: ${activities}">
        <header class="card-header">
            <p class="card-header-title" th:text="${#temporals.format(activity.start, 'dd/MM/yyyy')}"></p>
            <a th:href="@{/activities/{activityId}(activityId=${activity.id})}" class="card-header-icon"
               data-turbo-frame="_top">
                      <span class="icon">
                          <i class="fas fa-edit" aria-hidden="true"></i>
                      </span>
            </a>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="columns is-mobile">
                    <div class="column is-4" th:text="${projectsById[activity.projectId].title}"></div>
                    <div class="column is-4"
                         th:text="${#temporals.format(activity.start, 'HH:mm')} + ' - ' + ${#temporals.format(activity.end, 'HH:mm')}"></div>
                    <div class="column is-2" sec:authorize="hasRole('ADMIN')" th:text="${activity.user}"></div>
                    <div class="column is-2 nowrap" th:text="${activity.duration}"></div>
                </div>
            </div>
        </div>
        <!--
        <footer class="card-footer">
          <a href="#" class="card-footer-item">Save</a>
        </footer>
        -->
    </div>

    <div th:unless="${#lists.isEmpty(activities)}" class="card">
        <header class="card-header">
            <div class="card-header-title columns is-mobile">
                <div class="column is-6"></div>
                <div class="column is-3">Total:</div>
                <div class="column is-3 nowrap" th:text="${totalDuration}">
                </div>
            </div>
        </header>
    </div>

</turbo-frame>
