<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Activities</title>
</head>
<body>

<div class="columns is-multiline" layout:fragment="content">
    <div class="column is-12">
        <nav class="level ">
            <div class="level-left">
                <div class="level-item report-filter">

                    <div class="select">
                        <select>
                            <!--
                            <option value="week">Day</option>
                            <option value="month">Month</option>
                            -->
                            <option value="year">Year</option>
                        </select>
                    </div>

                    <div class="button">
                        <a th:href="@{/(interval=${#strings.toLowerCase(previousFilter.interval)},start=${#temporals.format(previousFilter.start, 'yyyy-MM-dd')}, end=${#temporals.format(previousFilter.end, 'yyyy-MM-dd')})}" class="icon is-medium">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </div>

                    <div class="button">
                        <a th:href="@{/(interval=${#strings.toLowerCase(nextFilter.interval)})}" class="icon is-medium">
                          <i class="fa fa-home"></i>
                        </a>
                    </div>

                    <div class="button">
                        <a th:href="@{/(interval=${#strings.toLowerCase(nextFilter.interval)},start=${#temporals.format(nextFilter.start, 'yyyy-MM-dd')}, end=${#temporals.format(nextFilter.end, 'yyyy-MM-dd')})}" class="icon is-medium">
                          <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>

            </div>

            <div class="level-right">
                <fieldset disabled>
                    <div class="control">
                        <input
                                class="input"
                                type="text"
                                placeholder=""
                        />
                    </div>
                </fieldset>
            </div>
        </nav>
    </div>

    <div class="column is-12" th:each="activity: ${activities}">
        <div class="card" th:title="${activity.description}">
            <header class="card-header">
                <p class="card-header-title" th:text="${#temporals.format(activity.start, 'dd/MM/yyyy')}"></p>
                <a th:href="@{/activities/{activityId}/edit(activityId=${activity.id})}" class="card-header-icon">
                      <span class="icon">
                          <i class="fas fa-edit" aria-hidden="true"></i>
                      </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="columns is-mobile">
                        <div class="column is-5" th:text="${projects[activity.projectRef].title}"></div>
                        <div class="column is-4"
                             th:text="${#temporals.format(activity.start, 'HH:mm')} + ' - ' + ${#temporals.format(activity.end, 'HH:mm')}"></div>
                        <div class="column is-3" sec:authorize="hasRole('ADMIN')" th:text="${activity.user}"></div>
                    </div>
                </div>
            </div>
            <!--
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Save</a>
            </footer>
            -->
        </div>
    </div>

</div>


</body>
</html>
