<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Activities</title>
</head>
<body>

<div class="columns is-multiline" layout:fragment="content">
    <form class="column is-12 notification is-primary" data-controller="tracker" th:action="@{/activities/new}" method="POST" th:object="${activity}" data-turbo-frame="b__activities_list">

        <input name="day" type="hidden" />
        <input name="startTime" type="hidden" />
        <input name="endTime" type="hidden" />


        <div class="columns is-multiline">
            <div class="column is-4">
                <div class="button is-large" data-tracker-target="controlStart" data-action="click->tracker#start">
                    <span class="icon is-medium">
                        <i class="fa fa-play"></i>
                    </span>
                </div>
                <div class="button is-large" style="display: none;" data-tracker-target="controlStop" data-action="click->tracker#stop">
                    <span class="icon is-medium">
                        <i class="fa fa-stop"></i>
                    </span>
                </div>

                <div class="control select is-large">
                    <fieldset data-tracker-target="controlSwitchProject">
                        <select th:field="*{projectId}">
                            <option th:value="${project.id}" th:text="${project.title}" th:each="project: ${projects}"></option>
                        </select>
                    </fieldset>
                </div>

                <h3 class="title is-3">
                    Start: <span data-tracker-target="start"></span>
                    <br />
                    Duration: <span data-tracker-target="duration"></span>
                </h3>
            </div>

            <div class="column is-6">
                    <div class="control">
                        <fieldset>
                            <textarea
                                    th:field="*{description}"
                                    class="textarea"
                                    placeholder="Describe what you do ..." >
                            </textarea>
                        </fieldset>
                    </div>

            </div>

        </div>
    </form>

    <div class="column is-12">
        <div class="buttons">
            <a th:href="@{/activities/new}"
               class="button is-link"
               up-target="body">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Add Activity</span>
            </a>
        </div>
    </div>

    <turbo-frame id="b__activities_list" class="column is-12">
        <script defer th:utext="'history.replaceState(null, null, \'' + ${session.filter.toUrlParams()} + '\')'"></script>

        <div class="column is-12">
            <nav  up-fixed="top" class="level" id="b__activities_filter">
                <div class="level-left">

                    <div class="level-item">
                        <div class="buttons has-addons">
                            <a class="button"
                               th:classappend="${#strings.toLowerCase(currentFilter.timespan) == 'day'} ? 'is-info is-selected' : ''"
                               th:href="@{'/' + ${currentFilter.toUrlParams('day')}}"
                               up-target="#b__activities_list,#b__activities_filter"
                            >Day</a>
                            <a class="button"
                               th:classappend="${#strings.toLowerCase(currentFilter.timespan) == 'month'} ? 'is-info is-selected' : ''"
                               th:href="@{'/' + ${currentFilter.toUrlParams('month')}}"
                               up-target="#b__activities_list,#b__activities_filter"
                            >Month</a>
                            <a class="button"
                               th:classappend="${#strings.toLowerCase(currentFilter.timespan) == 'year'} ? 'is-info is-selected' : ''"
                               th:href="@{'/' + ${currentFilter.toUrlParams('year')}}"
                               up-target="#b__activities_list,#b__activities_filter"
                            >Year</a>
                        </div>
                    </div>

                    <div class="level-item">

                        <div class="buttons has-addons">
                            <div class="button">
                                <a th:href="@{'/' + ${previousFilter.toUrlParams()}}"
                                   up-target="#b__activities_list,#b__activities_filter"
                                   class="icon is-medium">
                                    <i class="fa fa-angle-left" th:value="${currentFilter.toUrlParams()}"></i>
                                </a>
                            </div>

                            <div class="button">
                                <a th:href="@{/(timespan=${#strings.toLowerCase(currentFilter.timespan)})}"
                                   up-target="#b__activities_list,#b__activities_filter"
                                   class="icon is-medium">
                                  <i class="fa fa-home"></i>
                                </a>
                            </div>

                            <div class="button">
                                <a th:href="@{'/' + ${nextFilter.toUrlParams()}}"
                                   up-target="#b__activities_list,#b__activities_filter"
                                   class="icon is-medium">
                                  <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="level-right">
                    <span th:text="${currentFilter}"></span>
                </div>
            </nav>
        </div>

        <div th:if="${#lists.isEmpty(activities)}" class="notification is-warning">
            No activities in period.
        </div>

        <div class="card" th:title="${activity.description}" th:each="activity: ${activities}">
            <header class="card-header">
                <p class="card-header-title" th:text="${#temporals.format(activity.start, 'dd/MM/yyyy')}"></p>
                <a th:href="@{/activities/{activityId}(activityId=${activity.id})}" class="card-header-icon" up-target="body"
                   data-turbo-frame="_top">
                      <span class="icon">
                          <i class="fas fa-edit" aria-hidden="true"></i>
                      </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="columns is-mobile">
                        <div class="column is-4" th:text="${projectsById[activity.projectId].title}"></div>
                        <div class="column is-4"
                             th:text="${#temporals.format(activity.start, 'HH:mm')} + ' - ' + ${#temporals.format(activity.end, 'HH:mm')}"></div>
                        <div class="column is-2" sec:authorize="hasRole('ADMIN')" th:text="${activity.user}"></div>
                        <div class="column is-2 nowrap" th:text="${activity.duration}"></div>
                    </div>
                </div>
            </div>
            <!--
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Save</a>
            </footer>
            -->
        </div>

        <div th:unless="${#lists.isEmpty(activities)}" class="card">
            <header class="card-header">
                <div class="card-header-title columns is-mobile">
                    <div class="column is-6"></div>
                    <div class="column is-3">Total:</div>
                    <div class="column is-3 nowrap" th:text="${totalDuration}">
                    </div>
                </div>
            </header>
        </div>

    </turbo-frame>


</div>


</body>
</html>
