<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE __ $LAYOUT_TITLE">Baralga</title>

    <link rel="stylesheet" href="/webjars/bulma/0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.1/css/all.min.css">

    <script type="module">
        import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@js-joda/core@1.11.0/dist/js-joda.js"></script>

    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script>
    (() => {
      const application = Stimulus.Application.start()

      application.register("tracker", class extends Stimulus.Controller {
        static get targets() {
          return [ "name", "mode", "start", "duration" ]
        }

        updateTimer() {
            this.index++;

            let duration = JSJoda.Duration.between(this.startTime, JSJoda.LocalDateTime.now());

            this.durationTarget.innerHTML = duration.toHours().toString().padStart(2, "0") + ":" + duration.toMinutes().toString().padStart(2, "0");

            console.log("Upate timer!", duration.toString());
            console.log("UPP", this.startTargets);

            fetch("/activities/ping");
        }

        start() {
        this.index = 0;
        this.startTime = JSJoda.LocalDateTime.now();
            console.log("Start, Stimulus!", this.element);
            console.log("..............", this.modeTargets)

            this.startTarget.innerHTML = this.startTime;

            this.updateTimer();
            this.updateTimerFunction = setInterval(() => {
              this.updateTimer()
            }, 5000);
        }

        stop() {
            this.endTime = JSJoda.LocalDateTime.now();
            console.log("Stop, Stimulus!", this.startTarget.innerHTML);
            this.startTarget.innerHTML = "";
            this.durationTarget.innerHTML = "";
            clearInterval(this.updateTimerFunction);

            console.log("Submitting!", this.element);

            console.log("test3", this.element.querySelector("input[name='_csrf']"));

            let crsf = this.element.querySelector("input[name='_csrf']").value;

            let formData = new FormData();
            formData.append('_csrf', crsf);
            formData.append('day', this.startTime.format(JSJoda.DateTimeFormatter.ofPattern("dd/MM/yyyy")));
            formData.append('startTime', this.startTime.format(JSJoda.DateTimeFormatter.ofPattern("HH:mm")));
            formData.append('endTime', this.endTime.format(JSJoda.DateTimeFormatter.ofPattern("HH:mm")));
            formData.append('description', 'John123');
            formData.append('projectId', 'John123');

            this.element.querySelector("input[name='day']").value = this.startTime.format(JSJoda.DateTimeFormatter.ofPattern("dd/MM/yyyy"));
            this.element.querySelector("input[name='startTime']").value = this.startTime.format(JSJoda.DateTimeFormatter.ofPattern("HH:mm"));
            this.element.querySelector("input[name='endTime']").value = this.endTime.format(JSJoda.DateTimeFormatter.ofPattern("HH:mm"));

            this.element.requestSubmit();

/**
            fetch("/activities/new",
                {
                    body: formData,
                    method: "POST"
                });
                **/
        }

        connect() {
          console.log("Hello, Stimulus!", this.element)
        }

        // …
      })
    })()
  </script>

</head>
<body>

<!-- Main Navigation -->
<nav up-fixed="top" class="navbar is-dark" role="navigation" aria-label="main navigation" layout:fragment="navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-primary" style="font-weight: bold; font-variant: small-caps;" th:href="@{/}">
            Baralga
        </a>

        <!--
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        -->
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a th:href="@{/}" up-target="#b__content,title" class="navbar-item">
                Home
            </a>
            <a th:href="@{/projects}" up-target="#b__content,title" class="navbar-item">
                Projects
            </a>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" sec:authorize="isAuthenticated()" sec:authentication="name">
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <form th:action="@{/logout}" method="POST" up-target="body">
                        <input type="submit" class="button is-light" value="Logout"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Content Section -->
<section class="section">
    <div class="container" id="b__content" layout:fragment="content">
        <h1 class="title">
            Hello Baralga!
        </h1>
    </div>
</section>

<!-- Footer -->

</body>
</html>
