<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Login</title>
</head>
<body>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation" layout:fragment="navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-primary" style="font-weight: bold; font-variant: small-caps;" th:href="@{/}">
            Baralga
        </a>
    </div>
</nav>

<div layout:fragment="content" class="container">
    <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form method="POST" action="/login" class="box has-background-light">
                <h3 class="title is-3">Log in</h3>

                <div class="field">
                    <label for="" class="label has-text-grey">Username</label>
                    <div class="control has-icons-left">
                        <input
                                type="text"
                                placeholder="e.g. bobsmith@gmail.com"
                                class="input"
                                required
                                name="username">
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
            </span>
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label has-text-grey">Password</label>
                    <div class="control has-icons-left">
                        <input
                                type="password"
                                placeholder="*******"
                                class="input"
                                required
                                name="password"/>
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
            </span>
                    </div>
                </div>
                    <div class="field">
                      <label for="" class="checkbox">
                        <input type="checkbox">
                       Remember me
                      </label>
                    </div>
                <div class="field">
                    <button class="button is-success" type="submit">Log in</button>
                </div>
            </form>
        </div>
    </div>

</div>


</body>
</html>
