<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Projects</title>
</head>
<body>

<div layout:fragment="content">

    <h1 class="title is-1">Projects</h1>

    <div class="columns is-multiline">
        <form th:action="@{/projects}" th:object="${project}" method="POST" up-target="body" class="column is-12" sec:authorize="hasRole('ADMIN')">

            <div class="field">
                <label class="label">Name</label>

                <div class="field has-addons">
                    <div class="control">
                        <input
                                class="input"
                                required="required"
                                minlength="3"
                                maxlength="30"
                                th:field="*{title}"
                                type="text" />
                    </div>
                    <div class="control">
                        <button
                                class="button is-success"
                                type="submit">
                                <span class="icon is-medium">
                                    <i class="fa fa-plus"></i>
                                </span>
                        </button>
                    </div>
                </div>
            </div>

        </form>

        <div id="b__projects_list" class="column is-12"  th:each="project: ${projects}">
            <div class="card" th:title=${project.title}>
                <header class="card-header">
                    <p class="card-header-title" th:text="${project.title}"></p>
                    <a th:href="@{/projects/{projectId}/delete(projectId=${project.id})}" sec:authorize="hasRole('ADMIN')" class="card-header-icon">
                        <span class="icon">
                          <i class="fas fa-trash" aria-hidden="true"></i>
                        </span>
                    </a>
                </header>

            </div>
        </div>

    </div>

</div>

</body>
</html>
